@import url("/src/assets/bootstrap/bootstrap.min.css");

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}